<section class="categories-show">
  <div class="alert alert-success" role="alert">
    There are <strong><%= @categories.count %></strong> categories in the database.
  </div>
  <div class="alert alert-success" role="alert">
    There are <strong><%= @products.count %></strong> products in the database.
  </div>
</section>

